/* .app{
    background-color: rgb(57, 39, 39);
} */
.app{
    background-image: url("https://images.adsttc.com/media/images/5bf3/8f5f/08a5/e509/1100/01ce/large_jpg/-_Featured_Image.jpg?1542688591");
    background-repeat: no-repeat;
    /* enable-background: accumulate; */
    background-attachment: fixed;
    background-size: 100% 1000px;

}